body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
}

:root{
    --color-primary: #979595;
    --color-black: black;
    --color-white: white; 
}

.cabe{
    display: flex;
  }

  .sacola{
    margin-top: 30px;
    margin-left: 400px;
    margin-right: 30px;
  }


.opcoes{
    display: inline-block;
    margin-left: 500px;
    margin-bottom: 30px;
}

  
  .busca{
    background-color: #ab7ddf;
    max-width: 300px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
    height: 103px;
  }

  .busc{
    margin-left: 10px;
    line-height: 40px;
  }


  .section-departamentos{
    display: flex;
}

.container-destaque img{
    margin-left: 10px;
    margin-top: -110px;
}

input{
    border-radius: 15px;
    margin-left: 5px;
}
  
  .dep{
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
  }

  .menu-departamentos{
    background-color: #ab7ddf;
    max-width: 300px;
    text-transform: uppercase;
    margin-bottom: 120px;
  }

  .button{ 
    background-color: var(--color-white);
    color: var(--color-black);
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 0px;
    display: flex;
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 300px;
}

  .container{
    margin-left: 150px;
    margin-right: 150px;
  }

  .container-destaque{
    margin-top: -50px;
    margin-left: 100px;
    break-after: auto;
  }

  .container-paineis{
    display: flex;
    margin-left: 200px;
    margin-top: 30px;
  }

  .painel-novidades{
    text-align: center;
    background-color: #c490ff;
    width: 500px;
  }

  .painel-novidades img{
    max-width: 50px;
}

figure{
    display: inline-block;
    margin-left: -20px
}

figcaption{
    font-size: 15px;
    width: 120px;
}

.painel-novidades button{
    margin-left: 350px;
    margin-bottom: 10px;
    
}

  .painel-mais-vendidos{
    text-align: center;
    background-color: #ab7ddf;
    width: 500px;
    margin-left: 10px;
  }

  .painel-mais-vendidos img{
    max-width: 50px;
  }

figcaption{
    font-size: 15px;
    width: 120px;
    color: var(--color-black);
    text-decoration: none;
}

  .painel-mais-vendidos button{
    margin-left: 350px;
    margin-bottom: 10px;
    text-decoration: none;
}

footer{
    background-color: black;
    padding-top: 15px;
    margin-top: 10px;
}

footer img{
    margin-top: 10px;
}

footer ul{
    margin-left: 700px;
}